development:
  adapter: redis
  url: redis://localhost:6379/1
  channel_prefix: tag_along_development

test:
  adapter: async

production:
  adapter: redis
  url: redis://localhost:6379/1
  channel_prefix: tag_along_production
